h1 {
    margin: 0;
    padding: 10px;
    font-family: "Love Ya Like A Sister";
    font-size: 50px;
    text-align: center;
}

.background { 
    position: relative; 

}

h2 { 
    margin: 0;
    padding: 80px;
    font-family: "Love Ya Like A Sister";
    font-size: 75px;
    text-align: center;
}

.searchbar { 
    margin: 0 auto;
    padding: 5px 5px 5px 25px;
    width: 450px;
    text-align: center;
    border-radius: 15px;
    border: 1px #000 solid;
    font-family: "Shippori Antique B1";
}

.search { 
    margin: 0 auto;
    padding: 5px 5px 5px 25px;
    border: none;
    background: transparent;
    outline: none;
    width: 370px;
    text-align: center;
    font-size: 13px;
    flex: center;
    font-family: "Shippori Antique B1";
}

.button { 
    outline: none;
    width: 100px; 
}

.searchbutton { 
    outline: none;
    width: 50px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.loginbtn { 
    margin: 0 auto;
    padding: 8px 20px 8px 20px;
    border-radius: 15px;
    border: none;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 25px;
    font-family: "Shippori Antique B1";
    font-size: 20px;
    background-color: transparent;
}
